*{
  font-family: verdana;
  margin: 0;
}

body{
  background: #eee;
}

.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: #e2ddbc;
  
}


/*container info from here on*/


#rightContainers, #leftContainers{
    display: box;
    display: flex;
    flex-direction: column;
    max-width: 350px;

    margin: 0 auto;
    
}

.container{
    background: #3d3c39;
    display:flex;
    max-width: 380px;
    height: 100px;
    margin: 3px 0;
}

p {
    display: block;
    margin: 15px auto;
    padding-right: 15px;
    line-height: 18px;
    font-size: 10px;
    color:white;
    text-align: center;
}

#picture{
    margin: auto 10px;
    padding: 10px;
}

#picture div{
    background: #848991;
    text-align: center;
    padding: 30px;
    
}

#picture div:hover{
    background: red;
}

/*THIS ARE NOT WORKING... CAN'T FIGURE OUT WHY!!!*/
.one{order:0;}
.two{order:0;}
.three{order:0;}
.four{order:0;}

/*RESPONSIVE*/


@media screen and (min-width: 760px){

    
    
    
    #allContainers{
            display: flex;
            

    }
    .container{
        margin: 3px 0;
        max-width: 100%;
        height: auto
            
    }
}